<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Entre para prosseguir</h2>
    </div>
    <hr />
    <div class="mdl-card__supporting-text" style="width:100%; padding-left:6%;">
        <div class="container">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Crie sua Conta</h4>
                <p class="text-center">Faça seu cadastro antes de Prosseguir</p>
                <div class="form-group">
                    <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary btn-block" onclick="NaoImplementado()"> Criar Conta  </a>
                </div> <!-- form-group// -->
                <p class="divider-text">
                    <span class="bg-light">OU</span>
                </p>
                <p class="text-center">Já possui uma conta?</p>
                <p class="text-center">Então realize o login</p>
                <p>
                    <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary btn-block"> Realizar Login </a>
                </p>
            </article>
        </div>
    </div>
</div>