<div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Entre para prosseguir</h2>
    </div>
    <hr />
    <div class="mdl-card__supporting-text" style="width:100%; padding-left:6%;">
        <div class="container">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Criar Conta</h4>
                <p class="text-center">Faça seu cadastro antes de Prosseguir</p>
                <p>
                    <a href="" onclick="NaoImplementado()" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                    <a href="" onclick="NaoImplementado()" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                </p>
                <p class="divider-text">
                    <span class="bg-light">OU</span>
                </p>
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Nome" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Email" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Senha" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Repita a Senha" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" onclick="NaoImplementado()"> Criar Conta  </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Já possui uma conta? <a href="" onclick="NaoImplementado()">Log In</a> </p>
                </form>
            </article>
        </div>
    </div>
</div>