.demo-card-wide.mdl-card {
    width: 640px;
    height: 300px;
}

.mdl-card__actions {
    outline: skyblue solid 5px;
    z-index: 4;
}

.mdl-button {
    margin-left: 10px;
}

.demo-card-wide {
    height: 200px;
}


.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 64px;
    background-color: indigo;
}

.mdl-card__title-text {
    position: relative;
    top: 6px;
    align-items: center;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}


/*#mycard {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/

.mdl-textfield {
    width: 250px;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}


.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-button--file {
    right: 0;
}

/*.demo-card-wide.mdl-card {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 100%;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}*/
