.instant-quote-form__input--delivery-date input {
    text-transform: capitalize
}

.quote-result__delivery-date {
    margin-top: 24px;
    display: flex;
    flex-direction: column
}

@media screen and (max-width:768px) {
    .quote-result__delivery-date {
        width: 100%;
        margin-top: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch
    }
}

.quote-result__delivery-date-date, .quote-result__delivery-date-label, .quote-result__price-per-word {
    text-align: center;
    color: #768190
}

    .quote-result__delivery-date-date a, .quote-result__delivery-date-date i, .quote-result__delivery-date-date span.date-before span, .quote-result__delivery-date i {
        text-decoration: underline;
        font-size: 12px;
        color: #768190;
        font-weight: 400;
        text-transform: none;
        cursor: pointer
    }

    .quote-result__delivery-date-date a, .quote-result__delivery-date-date i, .quote-result__delivery-date i {
        order: 2;
        display: block
    }

    .quote-result__delivery-date-date span.date-before {
        color: #66d4bd
    }

.quote-result__delivery-date-date {
    color: #000;
    display: flex;
    flex-direction: column
}

.quote-result__delivery-date-label, .quote-result__price-per-word {
    font-size: 12px;
    line-height: 20px
}

.quote-result__delivery-date-date {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center
}

.quote-result__delivery-date-not-available, .quote-result__delivery-date-not-available a {
    color: #768190;
    font-size: 12px;
    text-align: center
}

@media screen and (max-width:768px) {
    .quote-result__delivery-date-date, .quote-result__delivery-date-label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-align: left
    }

    .quote-result__delivery-date-label {
        margin-right: 4px
    }
}

.delivery-date {
    display: flex;
    flex-direction: column
}

.delivery-date__option {
    padding: 16px 24px;
    border-radius: 4px;
    background-color: #f2f5f7;
    color: #768190;
    font-weight: 400
}

    .delivery-date__option:hover {
        cursor: pointer
    }

@supports (-webkit-overflow-scrolling:touch) {
    .delivery-date__option {
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0)
    }
}

.delivery-date__option--selected {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #ccd4de;
    color: #000;
    font-weight: 500
}

.delivery-date__option + .delivery-date__option {
    margin-top: 8px
}

.delivery-date__option-head {
    display: flex;
    align-items: center
}

    .delivery-date__option-head .radio {
        margin-right: 16px
    }

.delivery-date__option-body {
    display: flex;
    margin-top: 16px;
    padding-left: 40px
}

@media screen and (max-width:768px) {
    .delivery-date__option-body {
        flex-direction: column
    }
}

.delivery-date__option-body .select-with-icon__wrapper + .select-with-icon__wrapper {
    margin-left: 16px
}

@media screen and (max-width:768px) {
    .delivery-date__option-body .select-with-icon__wrapper + .select-with-icon__wrapper {
        margin-top: 16px;
        margin-left: 0
    }
}

.delivery-date__time-zone-select-wrapper {
    max-width: 260px
}

@media screen and (max-width:768px) {
    .delivery-date__time-zone-select-wrapper {
        max-width: none
    }
}

.delivery-date__select-day {
    text-transform: capitalize
}

.delivery-date__modal__footer {
    justify-content: flex-end
}

    .delivery-date__modal__footer button {
        margin-left: 32px
    }

.delivery-date__modal__footer--failure {
    color: #ed7a5b
}

html.rtl .delivery-date__option-head .radio {
    margin-left: 16px;
    margin-right: 0
}

html.rtl .delivery-date__option-body {
    padding-left: 0;
    padding-right: 40px
}

    html.rtl .delivery-date__option-body .select-with-icon__wrapper + .select-with-icon__wrapper {
        margin-left: 0;
        margin-right: 16px
    }

html.rtl .delivery-date__modal__footer button {
    margin-right: 32px;
    margin-left: 0
}

@media (max-width:767px) {

    html.rtl .delivery-date__option-body .select-with-icon__wrapper + .select-with-icon__wrapper {
        margin-right: 0
    }

    html.rtl .quote-result__delivery-date-date, html.rtl .quote-result__delivery-date-label {
        text-align: right
    }

    html.rtl .quote-result__delivery-date-label {
        margin-right: 0;
        margin-left: 4px
    }
}


.word-count-or-upload {
    position: relative
}

.word-count-or-upload__files-wrapper {
    display: flex;
    padding: 8px;
    align-items: center;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #abb3bd,0 1px 2px rgba(0,0,0,.16)
}

.word-count-or-upload__words, .word-count-or-upload__words span + span {
    margin-left: 8px
}

.word-count-or-upload__computed-words-edit-input {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: none;
    max-width: 100px
}

    .word-count-or-upload__computed-words-edit-input:active, .word-count-or-upload__computed-words-edit-input:focus, .word-count-or-upload__computed-words-edit-input:hover {
        box-shadow: none
    }

.word-count-or-upload__files-wrapper .icon {
    margin-left: auto;
    margin-right: 4px
}

.word-count-or-upload--hide-words-count .word-count-or-upload__files-wrapper .icon {
    margin-left: 8px
}

.word-count-or-upload__files-wrapper .icon svg {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

.word-count-or-upload__files-wrapper .icon__fill {
    fill: #768190
}

.word-count-or-upload__files-number {
    font-size: 14px;
    line-height: 16px;
    color: #768190
}

.word-count-or-upload__files-wrapper p {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.word-count-or-upload__files-wrapper button {
    margin-left: 16px
}

.word-count-or-upload--hide-words-count .word-count-or-upload__files-wrapper button {
    margin-left: auto
}

.word-count-or-upload input::-ms-input-placeholder {
    box-shadow: 0 0 0
}

.word-count-or-upload input::placeholder {
    box-shadow: 0 0 0
}

.word-count-or-upload__upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #fff;
    box-shadow: -8px 0 12px #fff
}

    .word-count-or-upload__upload:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        bottom: 4px;
        width: 1px;
        background-color: #ccd4de
    }

.word-count-or-upload__or {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #768190
}

.word-count-or-upload__files-wrapper button, .word-count-or-upload__upload button {
    padding: 4px 8px
}

.word-count-or-upload__files-wrapper button {
    min-width: 56px
}

.word-count-or-upload__button-wrapper {
    position: relative
}

.word-count-or-upload__hidden-input-file {
    opacity: 0;
    position: absolute;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
}

    .word-count-or-upload__button-wrapper:hover, .word-count-or-upload__hidden-input-file:hover {
        cursor: pointer
    }

.word-count-or-upload__progress {
    position: relative;
    width: 100%;
    margin: 12px 8px;
    height: 8px;
    background-color: #f2f5f7;
    border-radius: 2px
}

    .word-count-or-upload__progress span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #0055b8;
        border-radius: 2px;
        animation: wordCountOrUploadProgressAnimation 60s ease-in-out forwards
    }

@media (max-width:1399px) {
    .word-count-or-upload__or {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width:1199px) {
    .word-count-or-upload__upload button {
        font-size: 0
    }

        .word-count-or-upload__upload button:after {
            content: "";
            width: 18px;
            height: 18px;
            display: inline-block;
            background-repeat: no-repeat;
            vertical-align: middle;
            background-size: contain;
            background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Epath-1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='upload' fill='%23768190' fill-rule='nonzero'%3E%3Cpath d='M11,3.41421356 L11,13 C11,13.5522847 10.5522847,14 10,14 C9.4477153,14 9,13.5522847 9,13 L9,3.41421356 L5.70710678,6.70710678 C5.31658249,7.09763107 4.68341751,7.09763107 4.29289322,6.70710678 C3.90236893,6.31658249 3.90236893,5.68341751 4.29289322,5.29289322 L9.2928932,0.29289322 C9.6834175,-0.09763107 10.3165825,-0.09763107 10.7071068,0.29289322 L15.7071068,5.29289322 C16.0976311,5.68341751 16.0976311,6.31658249 15.7071068,6.70710678 C15.3165825,7.09763107 14.6834175,7.09763107 14.2928932,6.70710678 L11,3.41421356 Z M18,13 C18,12.4477153 18.4477153,12 19,12 C19.5522847,12 20,12.4477153 20,13 L20,17 C20,18.6568542 18.6568542,20 17,20 L3,20 C1.34314575,20 0,18.6568542 0,17 L0,13 C0,12.4477153 0.44771525,12 1,12 C1.55228475,12 2,12.4477153 2,13 L2,17 C2,17.5522847 2.44771525,18 3,18 L17,18 C17.5522847,18 18,17.5522847 18,17 L18,13 Z' id='path-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
        }
}

@media (max-width:991px) {
    .word-count-or-upload__or {
        padding-left: 0;
        padding-right: 5px;
        font-size: 12px
    }

    .word-count-or-upload__upload:before {
        display: none
    }

    .word-count-or-upload > input {
        padding-left: 13px
    }
}

@media (max-width:767px) {
    .word-count-or-upload__or {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px
    }

    .word-count-or-upload__upload button {
        font-size: 14px
    }

        .word-count-or-upload__upload button:after {
            display: none
        }

    .word-count-or-upload__upload:before {
        display: block
    }

    .word-count-or-upload > input {
        padding-left: 16px
    }
}

@media (max-width:575px) {
    .word-count-or-upload__or {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px
    }
}

html.rtl .word-count-or-upload__upload {
    right: auto;
    left: 8px
}

    html.rtl .word-count-or-upload__upload:before {
        left: auto;
        right: 0
    }

html.rtl .word-count-or-upload__files-number {
    margin-right: 0;
    margin-left: 6px
}

html.rtl .contact-form .word-count-or-upload__files-number {
    margin-right: 6px;
    margin-left: 0
}

html.rtl .word-count-or-upload__words, html.rtl .word-count-or-upload__words span + span {
    margin-right: 8px;
    margin-left: 0
}

html.rtl .word-count-or-upload__files-wrapper .icon {
    margin-right: auto;
    margin-left: 4px
}

html.rtl .word-count-or-upload--hide-words-count .word-count-or-upload__files-wrapper .icon {
    margin-right: 8px;
    margin-left: 0
}

html.rtl .word-count-or-upload__files-wrapper button {
    margin-right: 16px;
    margin-left: 0
}

html.rtl .word-count-or-upload--hide-words-count .word-count-or-upload__files-wrapper button {
    margin-right: auto;
    margin-left: 0
}

html.rtl .dropdown__search-bar-input, html.rtl .word-count-or-upload input {
    height: 48px
}

html.rtl .word-count-or-upload__or {
    padding-right: 0;
    padding-left: 5px
}

html.rtl .word-count-or-upload > input {
    padding-right: 13px;
    padding-left: auto
}

html.rtl .word-count-or-upload__or {
    padding-left: 20px;
    padding-right: 20px
}

html.rtl .word-count-or-upload > input {
    padding-right: 16px
}

html.rtl .word-count-or-upload__or {
    padding-left: 10px;
    padding-right: 10px
}

.t-root-0-2-15 {
    width: 100%;
    cursor: default;
    padding: 16px;
    position: relative;
    box-shadow: 0 0 0 1px #ccd4de;
    border-radius: 2px;
    margin-bottom: 24px;
    background-color: #fff;
}

.t-main-0-2-16 {
    display: flex;
    align-items: center;
}

.t-name-0-2-17 {
    padding: 0 12px;
    overflow: hidden;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.t-size-0-2-18 {
    color: #666;
    font-size: 14px;
    white-space: nowrap;
    padding-right: 12px;
}

.t-icon-0-2-19 {
    fill: #666;
    width: 38px;
    cursor: pointer;
    height: 38px;
    padding: 8px;
    box-shadow: 0 0 0 1px #ccd4de;
    font-weight: 400;
    background-color: #fff;
}

.t-progress-0-2-20 {
    top: 48px;
    left: 65px;
    width: calc(100% - 130px) !important;
    position: absolute;
}

.t-manualWordCount-0-2-21 {
    width: 100%;
    font-size: 14px;
    margin-top: 12px;
}

    .t-manualWordCount-0-2-21 > span:nth-of-type(1) {
        color: #ed7a5b;
        display: block;
        margin-bottom: 5px;
    }

    .t-manualWordCount-0-2-21 > label {
        font-size: inherit;
    }

    .t-manualWordCount-0-2-21 > input {
        width: 75px;
        height: 28px;
        padding: 0 10px;
        text-align: right;
        margin-left: 5px;
    }

    .t-manualWordCount-0-2-21 > span:last-of-type {
        display: block;
        margin-top: 5px;
    }

.t-modal-0-2-6 {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: " ";
    display: flex;
    z-index: 101;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.t-root-0-2-7 {
    width: 100%;
    display: inline-flex;
    border-radius: 2px;
    flex-direction: column;
    background-color: #fff;
}

.t-rootModal-0-2-8 {
    top: 15%;
    left: 0;
    right: 0;
    width: 736px;
    display: inline-flex;
    z-index: 102;
    position: fixed;
    max-width: 100%;
    box-shadow: 0 0 0 1px #abb3bd, 0 8px 12px rgba(0,0,0,.16);
    max-height: calc(70%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    flex-direction: column;
    background-color: #fff;
}

.t-header-0-2-9 {
    margin: 0 !important;
    display: flex;
    padding: 16px 24px;
    z-index: 2;
    position: relative;
    box-shadow: 0 1px #ccd4de;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

    .t-header-0-2-9 > div {
        cursor: pointer;
    }

.t-dropzone-0-2-10 {
    cursor: pointer;
    margin: 24px;
    outline: 2px dashed #ccd4de;
    padding: 24px;
    overflow: auto;
    position: relative;
    min-height: 250px;
    transition: border-color .25s ease-in-out;
    background-color: #f2f5f7;
}

.t-dropcopy-0-2-11 {
    display: block;
    padding: 15px 0;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    line-height: 24px;
    user-select: none;
}

    .t-dropcopy-0-2-11 svg {
        fill: #aaa;
        width: 36px;
        height: auto;
    }

    .t-dropcopy-0-2-11 > span:nth-of-type(2) {
        color: blue;
        cursor: pointer;
        margin-left: 5px;
        text-decoration: underline;
    }

.t-dropcopyBottom-0-2-12 {
    margin: auto;
    display: flex;
    align-items: center;
    user-select: none;
    flex-direction: row;
    justify-content: center;
}

    .t-dropcopyBottom-0-2-12 svg {
        fill: #aaa;
        width: 24px;
        height: auto;
        margin-right: 10px;
    }

    .t-dropcopyBottom-0-2-12 > span:nth-of-type(2) {
        color: blue;
        cursor: pointer;
        margin-left: 5px;
        text-decoration: underline;
    }

.t-draggingFiles-0-2-13 {
    color: #0055b8;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
}

.t-footer-0-2-14 {
    display: flex;
    padding: 8px 24px;
    position: relative;
    box-shadow: 0 -1px #ccd4de;
    justify-content: flex-end;
}

.t-root-0-2-1 {
    margin-right: 0 !important;
}

.t-wordCountDisabledRoot-0-2-2 {
    margin-bottom: 24px;
}

.t-wordCountDisabledLabel-0-2-3 {
    display: inline-block;
    font-size: 16px;
    align-self: flex-start;
    line-height: 24px;
    margin-bottom: 8px;
}

.t-filesNumberIcon-0-2-4 {
    fill: #666;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
}

.t-filesNumberText-0-2-5 {
    margin-right: 6px;
}
