@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
        <img class="android-logosider-image" src="/images/android-logo-white1.png">
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Contatar o administrador</a>
    </nav>
</div>