@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a href="#cliente">
                        <i class="iconsminds-user"></i>
                        <span>Cliente</span>
                    </a>
                </li>
                <li>
                    <a href="#tradutor">
                        <i class="iconsminds-consulting"></i> Tradutor
                    </a>
                </li>
                <li>
                    <a href="#administrador">
                        <i class="iconsminds-business-man"></i> Administrador
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">
            <ul class="list-unstyled" data-link="cliente">
                <li>
                    <a href="Dashboard.Default.html">
                        <i class="simple-icon-rocket"></i> <span class="d-inline-block">Default</span>
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="tradutor">
                <li>
                    <a href="Apps.MediaLibrary.html">
                        <i class="simple-icon-picture"></i> <span class="d-inline-block">Library</span>
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="administrador">
                <li>
                    <a asp-action="ListarPedidos" asp-controller="Administrador">
                        <i class="simple-icon-receipt"></i> <span class="d-inline-block">Listar Pedidos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>