<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dore jQuery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FONTS -->
    <link rel="stylesheet" href="~/dashboard/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="~/dashboard/font/simple-line-icons/css/simple-line-icons.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/dashboard/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/dashboard/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="~/dashboard/css/vendor/bootstrap-float-label.min.css" />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/dashboard/css/main.css" />
</head>
<body class="background show-spinner no-footer">
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <!-- JS -->
    <script src="~/dashboard/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/dashboard/js/dore.script.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/dashboard/js/scripts.js"></script>
</body>
</html>
