
@{
    ViewData["Title"] = "DetalharSolicitacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link rel="stylesheet" href="~/dashboard/css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/dashboard/css/vendor/datatables.responsive.bootstrap4.min.css" />
}

<div class="row">
    <div class="col-12">
        <h1>Detalhe da Solicitação</h1>
        <div class="separator mb-5"></div>

        <div class="col-lg-12 col-xl-6">
        </div>

        <div class="col-xl-6 col-lg-12 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Top Viewed Posts</h5>
                    <table class="data-table data-table-standard responsive nowrap"
                           data-order="[[ 1, &quot;desc&quot; ]]">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Views</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Wedding Cake with Flowers Macarons</p>
                                </td>
                                <td>
                                    <p class="text-muted">1452</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Cheesecake with Chocolate Cookies</p>
                                </td>
                                <td>
                                    <p class="text-muted">1420</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Homemade Cheesecake with Fresh Berries</p>
                                </td>
                                <td>
                                    <p class="text-muted">1360</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Cheesecake with Fresh Berries</p>
                                </td>
                                <td>
                                    <p class="text-muted">1310</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Tea Loaf with Fresh Oranges</p>
                                </td>
                                <td>
                                    <p class="text-muted">1245</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Cheesecake with Chocolate Cookies</p>
                                </td>
                                <td>
                                    <p class="text-muted">1100</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Homemade Cheesecake with Fresh Berries</p>
                                </td>
                                <td>
                                    <p class="text-muted">1003</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Homemade Cheesecake with Fresh Berries</p>
                                </td>
                                <td>
                                    <p class="text-muted">952</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Cheesecake with Fresh Berries</p>
                                </td>
                                <td>
                                    <p class="text-muted">924</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Tea Loaf with Fresh Oranges</p>
                                </td>
                                <td>
                                    <p class="text-muted">842</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Cheesecake with Chocolate Cookies</p>
                                </td>
                                <td>
                                    <p class="text-muted">810</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="list-item-heading">Homemade Cheesecake with Fresh Berries</p>
                                </td>
                                <td>
                                    <p class="text-muted">605</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>

@section Scripts{
    <script src="~/dashboard/js/vendor/datatables.min.js"></script>
}